
@import './breakpoints.scss';
@import './colors.scss';
@import './typography.scss';

@import './logo.scss';
@import './d-main-panel.scss';
@import './m-main-panel.scss';
@import './left-sidebar.scss';
@import './logchart.scss';


* {
    box-sizing: border-box;
}
html, body, #root{
    height: 100%;
}

.d-left-column{
    position:absolute;
    overflow:hidden;
    top:0;
    bottom:0;
}
.d-main-panel{
    position:absolute;
    top:0;
    right:0;
    bottom:120px;
    overflow:hidden;
}
.d-main-footer{
    position:absolute;
    right:0;
    bottom:0px;
}
.m-main-panel{

}
.bottom-ad-md{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}
.bottom-ad{
    background-size:contain;
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    //background-image:url('/img/enable-ads-plz.svg');
}
@media (pointer: coarse) {
    .MuiSlider-root {
        margin-top:-7px;
    }
}

.mobile-ad{
    background-size:contain;
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    //background-image:url('/img/enable-ads-plz.svg');
    overflow-x: auto;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    color:black;
    .mobile-ad-dismiss{
        position:fixed;
        bottom:154px;
        right:0;
        height:30px;
        width:30px;
        background-color:white;

        .MuiSvgIcon-root{
            font-size:30px;
        }
    }
}
