
.d-main-panel{
    position:relative;

    .map-panel{
        background-image: linear-gradient(135deg, #bbd2d5 21.43%, #d3e2f0 21.43%, #d3e2f0 50%, #bbd2d5 50%, #bbd2d5 71.43%, #d3e2f0 71.43%, #d3e2f0 100%);
        background-size: 9.90px 9.90px;

        .rsm-geography{
            &{
                outline: none;
            }
            &:hover{
                opacity:.8;
            }
        }
    }

    .focused-state{
        border:2px solid blue;
        stroke: white;
        stroke-width:2px;
        animation: throb 1s ease-in-out;
        animation-iteration-count: infinite;
    }
    @keyframes throb {
        0% {
            opacity:1;
        }
        50% {
            opacity:.8;
        }
        100% {
            opacity:1;
        }
    }

    .map-tooltip{
        //transition: left .1s, top .1s;
        background-color:white;
        width:1px;
        height:1px;
        .map-tooltip-anchor{
            position:relative;
            height:1px;
            width:1px;
            justify-content: center;
            display:flex;
            .map-tooltip-inner{
                position:absolute;
                bottom: 5px;
                background-color: $primary;
                color:white;
                padding:10px 15px;
                border-radius:5px;
                display:inline-block;
                white-space: nowrap;
                text-shadow: 1px 1px 1px #000;

                strong{
                    margin: -10px -15px 0px -15px;
                    padding: 10px 15px;
                    display:block;
                    background-color:darken($primary, 6%);
                    border-top-left-radius:5px;
                    border-top-right-radius:5px;
                }

                &:after{
                    content:'';
                    position:absolute;
                    bottom:-10px;
                    left:calc(50% - 10px);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 10px 0 10px;
                    border-color: darken($primary, 6%) transparent transparent transparent;
                }

                table{
                    font-size:14px;
                    white-space: nowrap;
                    margin: 0px -3px 0 -3px;
                    padding: 10px 0 10px 0;

                    .confirmed{
                        font-weight:bold;
                        color: $confirmedColor;
                    }
                    .deaths{
                        font-weight:bold;
                        color: $deathColor;

                    }
                }

                .when{
                    display:block;
                    padding-top:5px;
                    text-align:right;
                    font-style:oblique;
                    text-transform:uppercase;
                    font-size:12px;
                    text-shadow: 1px 1px 1px #000;
                    margin: 0px -15px -10px -15px;
                    padding: 10px 15px;
                    background-color:darken($primary, 6%);
                    border-bottom-left-radius:5px;
                    border-bottom-right-radius:5px;
                    span{
                        color: #aaa;
                    }
                }
                .pop{
                    display:inline-block;
                    margin-top:10px;
                    color:#ddd;
                    font-style:italic;
                    font-size:13px;
                }
                hr{
                    border:1px solid #666;
                }
            }
        }
    }
    .map-slider{
        position: absolute;
        bottom: 30px;
        left: 10%;
        width: 80%;
        height: 30px;
        padding: 0 20px;
        border-radius: 20px;
        text-align: center;
        background-color: rgba(255,255,255,.8);

        .MuiSlider-thumb{
            &{
                height:16px;
                width:16px;
                .date-indicator{
                    position:absolute;
                    width:94px;
                    top:-50px;
                    left: -47px;
                    border-radius: 5px;
                    padding:5px;
                    background-color:darken($primary, 0%);
                    color:white;
                    text-shadow: 1px 1px 1px #000;

                    &:after{
                        content:'';
                        position:absolute;
                        bottom:-10px;
                        left:calc(50% - 10px);
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 10px 0 10px;
                        border-color: darken($primary, 0%) transparent transparent transparent;
                }
                }
            }
            &.MuiSlider-active{
                .date-indicator{
                    opacity:1;
                }

            }
        }
        .MuiSlider-rail, .MuiSlider-track{
            height:6px;
        }
    }
}
