
.d-left-column {

    background-color:$primary;
    .logo{
        margin:10px 20px 10px 20px;
    }

    .info-panel{
        position:relative;
        background: linear-gradient(115deg, rgba(25,25,25,.5) 0%, rgba(60,46,44,.5) 19%, rgba(25,25,25,.5) 39%, rgba(61,43,39,.5) 66%, rgba(25,25,25,.5) 100%), radial-gradient(circle, rgba(25,25,25,.5) 0%, rgba(55,39,20,.5) 19%, rgba(25,25,25,.5) 39%, rgba(61,53,39,.5) 66%, rgba(25,25,25,.5) 100%);

        padding: 10px;

        h1{
            margin:0;
            color:white;
            text-shadow: 2px 2px 2px #000;
        }
        em{
            color:#888;
            text-shadow: 1px 1px 1px #000;
            text-transform:uppercase;
            font-size:14px;
            span{
                color:white;
            }
        }
        table{
            padding-top:10px;
            padding-bottom:10px;
            width: 100%;
            margin-top:20px;
            background-color:rgba(0,0,0,.2);

            thead{
                font-style: oblique;
                text-transform:uppercase;
                font-size:20px;
                color:#eee;
                text-shadow: 2px 2px 2px #000;
            }
            td{
                text-align:center;
                text-shadow: 2px 2px 2px #000;
            }
            .data{
                .confirmed{
                    font-size:30px;
                    color: $confirmedColor;
                    font-weight:bold;
                }
                .deaths{
                    font-size:30px;
                    color: $confirmedColor;
                    color: $deathColor;
                    font-weight:bold;
                }
                .increase{
                    text-align:left;
                    margin-top:5px;
                    display:inline-block;
                    color:#ddd;
                    vertical-align: top;
                    line-height:12px;
                    opacity:.8;
                    margin-left:5px;
                    font-size:10px;
                    text-shadow: 1px 1px 1px #000;
                }
            }
            .more-info{
                span{
                    text-transform:uppercase;
                    color:#aaa;
                }
                .confirmed{
                    color:white;
                }
                .deaths{
                    color:white;
                }
            }

        }

        a.back-to-us{
            position:absolute;
            background-color: #fcda9c;
            top:10px;
            right:10px;
            height:40px;
            width:50px;
            border:1px solid #555;
            border-radius:2px;
            img{
                margin:0 5px;
                height:40px;
                width: 40px;
            }
            &:hover{
                border-color:red;
            }
        }
    }

    .scrollable-area.full{
    }
    .scrollable-area.partial{
    }
    .scrollable-area{

        &::-webkit-scrollbar{width:8px}
        &::-webkit-scrollbar-track{background:#cccccc;border-radius:0px}
        &::-webkit-scrollbar-thumb{background:#2e2e2e;border-radius:0px}

        overflow:hidden;
        overflow-y: auto;
        .text-block{
            color:white;
            padding: 10px 15px;
            background: linear-gradient(115deg, rgba(25,25,25,.5) 0%, rgba(60,46,44,.5) 19%, rgba(25,25,25,.5) 39%, rgba(61,43,39,.5) 66%, rgba(25,25,25,.5) 100%), radial-gradient(circle, rgba(25,25,25,.5) 0%, rgba(55,39,20,.5) 19%, rgba(25,25,25,.5) 39%, rgba(61,53,39,.5) 66%, rgba(25,25,25,.5) 100%);
            a{
                color:$secondary;
                text-decoration:none;
            }
        }
        .footer{
            width:100%;
            text-align:center;
            padding: 5px;
            padding-top:40px;
            color:white;
            font-size:12px;
            line-height: 20px;
            a{
                color:$secondary;
            }
        }
    }
}
