
.main-panel{
    background-color: white;

    .rsm-geography{
        &{
            outline: none;
        }
        &:hover{
            opacity:.8;
        }
    }

    .scale-diagram{

        div{
            display: inline-block;
            padding: 5px 0px;
            width: 60px;
            text-align: center; 
        }

    }
}
